.container {
  padding: 10px;
  font-family: Arial, sans-serif;
  min-height: 100px;
  box-sizing: border-box;
}

.pageTitle {
  text-align: center;
  color: #000000;
  font-size: 24px;
  margin-bottom: 50px;
  margin-top: 120px;
}

.loanInfo {
  text-align: left;
  margin-bottom: 20px;
}

.loanAmount {
  font-size: 16px;
  font-weight: bold;
}

.searchContainer {
  display: flex;
  margin-bottom: 50px;
  margin-top: -100px;
}

.searchInput {
  padding: 10px;
  font-size: 11px;
  border-radius: 4px;
  width: 200px;
  margin-left: auto;
  border: 1px solid #ccc;
}

.tablesContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.tableSection {
  flex: 1;
}

.regularLoanTitle {
  text-align: center;
  margin-bottom: 10px;
  color: green;
}

.emergencyLoanTitle {
  text-align: center;
  margin-bottom: 10px;
  color: red;
}

.tableWrapper {
  max-height: 380px;
  overflow-y: scroll;
  border: 1px solid black;
  position: fixed;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 49%;
}

.tableWrapper::-webkit-scrollbar {
  display: none;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  border: 2px solid black;
}

.stickyHeader {
  position: sticky;
  top: 0;
  background-color: gray;
  z-index: 2;
  padding: 8px;
  border: 2px solid black;
}

.tableCell {
  padding: 8px;
  border-bottom: 1px solid #eee;
  border: 2px solid black;
}

.paidStatus {
  color: green;
}

.noPaymentsText {
  text-align: center;
  font-size: 11px;
  color: #000000;
  margin-top: 20px;
  border: 2px solid black;
}