.bertss-container {
  width: 99%;
  padding: 10px;
}

.bertss-header {
  width: 97%;
  margin-top: -10px;
  padding: 20px;
  text-align: center;
  color: black;
  font-size: 30px;
}

.button-disabled {
  opacity: 0.5 !important;
  cursor: not-allowed !important;
  pointer-events: none !important;
  background-color: #f5f5f5 !important;
  color: #999 !important;
}

.bertss-search-container {
  display: flex;
  align-items: center;
  position: relative;
}

.bertss-search-input {
  padding: 7px 40px 10px 10px;
  font-size: 16px;
  border: 0px;
  border-radius: 4px;
  width: 250px;
  margin-left: 1035px;
  margin-bottom: 30px;
  margin-top: -10px;
}

.bertss-table-container {
  max-height: 460px;
  width: 99%;
  overflow-y: auto;
  box-shadow: 0px 0px 15px 0px rgb(154, 154, 154);
  margin-top: 20px;
  padding: 5px;
  border-radius: 5px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.bertss-table {
  border-collapse: collapse;
  width: 100%;
}

.bertss-table-header {
  border-bottom: 1px solid black;
  position: sticky;
  top: -5px;
  z-index: 1;
  font-size: 20px;
}

.bertss-table-row {
  text-align: left;
  font-size: 20px;
}

.bertss-table-cell {
  padding: 5px;
  font-size: 20px;
}

.bertss-action-container {
  padding: 5px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.bertss-button {
  border: 0px;
  padding: 5px;
  cursor: pointer;
  color: black;
  width: 50px;
}

.bertss-button {
  position: relative;
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.bertss-button-text {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
  margin-left: -4px;
  font-size: 14px;
  color: black;
}

.bertss-button:hover .bertss-button-text {
  visibility: visible;
  opacity: 1;
}

.bertss-archive-button {
  border: 0px;
  padding: 5px;
  cursor: pointer;
  color: black;
  background-color: goldenrod;
  width: 60px;
}

.bertss-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.bertss-modal-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 300px;
}

.bertss-modal-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
