asgiref
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
PyJWT
gunicorn
whitenoise
dj-database-url
psycopg2-binary
pytz
sqlparse
psycopg2-binary
python-dotenv
python-dotenv